@import "tw-animate-css";
@import "shadcn/tailwind.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Force JIT Rebuild for Safelist Emerald Colors */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  .theme {
    --font-heading: var(--font-sans);
    --font-sans: var(--font-sans);
  }
  :root {
    --background: hsl(0 0% 100%);
    --foreground: hsl(0 0% 14.5%);
    --card: hsl(0 0% 100%);
    --card-foreground: hsl(0 0% 14.5%);
    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(0 0% 14.5%);
    --primary: hsl(0 0% 20.5%);
    --primary-foreground: hsl(0 0% 98.5%);
    --secondary: hsl(0 0% 97%);
    --secondary-foreground: hsl(0 0% 20.5%);
    --muted: hsl(0 0% 97%);
    --muted-foreground: hsl(0 0% 55.6%);
    --accent: hsl(0 0% 97%);
    --accent-foreground: hsl(0 0% 20.5%);
    --destructive: hsl(0 84.2% 60.2%);
    --border: hsl(0 0% 92.2%);
    --input: hsl(0 0% 92.2%);
    --ring: hsl(0 0% 70.8%);
    --chart-1: hsl(0 0% 87%);
    --chart-2: hsl(0 0% 55.6%);
    --chart-3: hsl(0 0% 43.9%);
    --chart-4: hsl(0 0% 37.1%);
    --chart-5: hsl(0 0% 26.9%);
    --radius: 0.625rem;
    --sidebar: hsl(0 0% 98.5%);
    --sidebar-foreground: hsl(0 0% 14.5%);
    --sidebar-primary: hsl(0 0% 20.5%);
    --sidebar-primary-foreground: hsl(0 0% 98.5%);
    --sidebar-accent: hsl(0 0% 97%);
    --sidebar-accent-foreground: hsl(0 0% 20.5%);
    --sidebar-border: hsl(0 0% 92.2%);
    --sidebar-ring: hsl(0 0% 70.8%);
  }
  .dark {
    --background: hsl(0 0% 14.5%);
    --foreground: hsl(0 0% 98.5%);
    --card: hsl(0 0% 20.5%);
    --card-foreground: hsl(0 0% 98.5%);
    --popover: hsl(0 0% 20.5%);
    --popover-foreground: hsl(0 0% 98.5%);
    --primary: hsl(0 0% 92.2%);
    --primary-foreground: hsl(0 0% 20.5%);
    --secondary: hsl(0 0% 26.9%);
    --secondary-foreground: hsl(0 0% 98.5%);
    --muted: hsl(0 0% 26.9%);
    --muted-foreground: hsl(0 0% 70.8%);
    --accent: hsl(0 0% 26.9%);
    --accent-foreground: hsl(0 0% 98.5%);
    --destructive: hsl(350 89.2% 43.9%);
    --border: hsl(0 0% 100% / 10%);
    --input: hsl(0 0% 100% / 15%);
    --ring: hsl(0 0% 55.6%);
    --chart-1: hsl(0 0% 87%);
    --chart-2: hsl(0 0% 55.6%);
    --chart-3: hsl(0 0% 43.9%);
    --chart-4: hsl(0 0% 37.1%);
    --chart-5: hsl(0 0% 26.9%);
    --sidebar: hsl(0 0% 20.5%);
    --sidebar-foreground: hsl(0 0% 98.5%);
    --sidebar-primary: hsl(263.4 70% 50.4%);
    --sidebar-primary-foreground: hsl(0 0% 98.5%);
    --sidebar-accent: hsl(0 0% 26.9%);
    --sidebar-accent-foreground: hsl(0 0% 98.5%);
    --sidebar-border: hsl(0 0% 100% / 10%);
    --sidebar-ring: hsl(0 0% 55.6%);
  }

  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}